<div class="w-full p-6 bg-white border border-gray-200 rounded-lg space-y-4">
  <button 
    data-modal-target="feedback-modal" 
    data-modal-toggle="feedback-modal" 
    class="w-full text-white !bg-brown-400 hover:!bg-brown-500 focus:ring-4 focus:outline-none focus:ring-brown-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" 
    type="button"
  >
    Add Feedback
  </button>
  <button 
    data-modal-target="progress-modal" 
    data-modal-toggle="progress-modal" 
    class="w-full text-white !bg-brown-400 hover:!bg-brown-500 focus:ring-4 focus:outline-none focus:ring-brown-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" 
    type="button"
  >
    Add Progress Update
  </button>
</div>