<div class="p-4 sm:ml-64">
  <div class="p-4 rounded-lg flex flex-col gap-4">
    <!-- Your page content here -->

    <div class="flex justify-between">
      <h1 class="font-bold text-4xl">Growth Plans</h1>

      <div class="flex justify-end">
        <%= link_to "New Growth Plan", new_growth_plan_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <%= render partial: "growth_plan", collection: @growth_plans %>
    </div>
  </div>
</div>