<div class="p-4 sm:ml-64">
  <div class="bg-white p-8 rounded-lg shadow">
    <h2 class="text-2xl font-bold mb-6">Role Information</h2>

    <div class="flex justify-between">
      <%= link_to 'Back', previous_wizard_path, class: "inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50" %>
      <%= link_to "Continue", next_wizard_path, class: "inline-flex justify-center rounded-md border border-transparent bg-blue-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-blue-700" %>
    </div>
  </div>
</div>